body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}
.rating
{
    background-color: black;
    color: white;
    font-size: 200%;
}

.title
{
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
    text-align:center;
}

.summary
{
    font-family: monospace;
    color: #111c40;
}

.overlay-body
{
    background-color: azure;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    /* top: 0; */
    overflow-y: scroll;
    height: 0;
    transition: 1s ease-in-out;
    z-index: -1;
    /* opacity: 1; */
}

.overlay:hover .overlay-body
{
    height: 100%;
    z-index: 1;
}

.title-rating
{
    position: sticky;
    top: -4%;
    background-color: azure;
    margin-top: -7%;
}

#search
{
    text-align: center;
}

#form-search
{
    width: 60%;
}

